:root {
    box-sizing: border-box;
    font-size: 0.75em;
    padding-top: 25px;
    
}
*,
::before,
::after {
    box-sizing: inherit;
}
p {
    color: black;
    font-weight: bold;
    font-size: 1.15em;
}
label span {
    color: black;
    font-weight: normal;
    font-size: 1.15em; 
} 

/*body {
    background-color: #6c757d;
}*/

.spacer5 {
    height: 5px;
    width: 100%;
}
.flash-error {
    text-align: center;
    padding: 25px;
    background: #f2dede;
    border-color: #ebcccc;
    color: #a94442;
}

.p-shadow {
    border-radius: 0;
    box-shadow: 0 0.2em 0.2em rgba(0,0,0,0.15);
}
.p-shadow {
    border-radius: 0;
    box-shadow: 0 0.2em 0.2em rgba(0,0,0,0.15);
}
.p-caption-params {
    margin-top: -20px;
    font-weight: bold;
    font-size: 1.15em;
}


.container {
    border: 1px solid #000;
    background-color: #ECF2F7;
    box-shadow: 0 0.2em 0.2em rgba(0,0,0,0.15);
}

.container input[type="checkbox"] {
    border-radius: 0;
    box-shadow: 0 0.09em 0.09em rgba(0,0,0,0.15);
}

.k-input.k-textbox, .k-textbox {
    height: 30px;
}
.k-grid tbody tr{
    height: 15px;
}



/*.k-grid td {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 0.08em 0.08em
}*/

.k-dateinput-wrap{
    width: 125px; 
}
.k-dateinput{
    width: 125px;
}


/*.k-dateinput-wrap .k-input, .k-dropdown-wrap .k-input, .k-numeric-wrap .k-input, .k-picker-wrap .k-input*/
.k-dateinput-wrap  {
    width: 150px;
    text-align: center;
    border-radius: 0;
    box-shadow: 0 0.2em 0.2em rgba(0,0,0,0.15);
    
}
.k-dateinput .k-dateinput-wrap {
    background-color: #fff;
    color:#993300;
    font-weight: bold; 
}

.k-input {
    width: 100%;
    color: #993300;
}
th.k-header {
    text-align: center;
}
tr.k-master-row {
    text-align: center;
    vertical-align: center;
}
.k-dropdown .k-dropdown-wrap{
    border-radius: 0;
    box-shadow: 0 0.2em 0.2em rgba(0,0,0,0.15);
    background-color: #fff;
    color:#993300;
    font-weight: bold;
}

.k-dropdown-wrap {
    border-radius: 0;
    box-shadow: 0 0.2em 0.2em rgba(0,0,0,0.15);
    background-color: #fff;
}
.k-dropdown-wrap .k-input {
  color: #993300;
   font-weight: bold; 
}
.k-button {
    color: #993300;
    font-weight: bold; 
}
.k-button:active {
    color: #993300;
    font-weight: normal; 
}