:root {
    box-sizing: border-box;
    font-size: 0.75em;
    padding-top: 25px;
    
    

}
*,
::before,
::after {
    box-sizing: inherit;
}
/*body {background-color: #FEE388;}*/

.spacer5 {
    height: 5px;
    width: 100%;
}
.flash-error {
    text-align: center;
    padding: 25px;
    background: #f2dede;
    border-color: #ebcccc;
    color: #a94442;
}

.p-shadow {
    border-radius: 0;
    box-shadow: 0 0.2em 0.2em rgba(0,0,0,0.15);
}
.p-shadow {
    border-radius: 0;
    box-shadow: 0 0.2em 0.2em rgba(0,0,0,0.15);
}



.container {
    border: 1px solid #eab31f;
}

.container input[type="checkbox"] {
    border-radius: 0;
    box-shadow: 0 0.09em 0.09em rgba(0,0,0,0.15);
}

.k-input.k-textbox, .k-textbox {
    height: 30px;
}
.k-grid tbody tr{
    height: 15px;
}



/*.k-grid td {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 0.08em 0.08em
}*/

.k-dateinput-wrap{
    width: 150px; 
}
.k-dateinput{
    width: 150px;
}


/*.k-dateinput-wrap .k-input, .k-dropdown-wrap .k-input, .k-numeric-wrap .k-input, .k-picker-wrap .k-input*/
.k-dateinput-wrap  {
    width: 150px;
    text-align: center;
    border-radius: 0;
    box-shadow: 0 0.2em 0.2em rgba(0,0,0,0.15);
}
.k-input {
    width: 100%;
}
th.k-header {
    text-align: center;
}
tr.k-master-row {
    text-align: center;
    vertical-align: center;
}
.k-dropdown .k-dropdown-wrap{
    border-radius: 0;
    box-shadow: 0 0.2em 0.2em rgba(0,0,0,0.15);
    background-color: transparent;
}

.k-dropdown-wrap {
    border-radius: 0;
    box-shadow: 0 0.2em 0.2em rgba(0,0,0,0.15);
    background-color: transparent;
}
 
