<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <link  rel="stylesheet" href="~/dist/style.vendor.css" asp-append-version="false"/>
	<link  rel="stylesheet" href="~/dist/main.style.css" asp-append-version="true"/>

    <title>Расчет KPI</title>
    
    <base href="~/" />

    @*<link rel="stylesheet" href="~/dist/vendor.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/dist/site.css" asp-append-version="true" />*@
</head>
<body>
@RenderBody()

<script src="~/dist/vendors.bundle.js" asp-append-version="false"></script>
<script src="~/dist/main.bundle.js" asp-append-version="true"></script>


@RenderSection("scripts", required: false)
</body>
</html>
